/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  text-decoration: none;
  color: #000000;
}

body {
  /*background-color: #333;*/
  cursor: default;
}

.App {
  /*height: 100vh;*/
  font-family: "Lato", "Helvetica Neue";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

/* miscellaneous styles */
/* miscellaneous styles */
/* miscellaneous styles */
/* miscellaneous styles */
/* miscellaneous styles */
.large-title {
  /*color: #4a8e5f;*/
  font-size: 48px;
  margin: 30px 0;
}
.red-text {
  color: #d26868 !important;
}
.green-text {
  color: #498d5e !important;
}
.green-bg {
  background-color: #498d5e !important;
}
.small-text {
  font-size: 16px !important;
}
.light-text {
  color: #999999 !important;
}
.full {
  width: 100% !important;
}
.centered {
  text-align: center !important;
}
.inline {
  display: inline-block !important;
}
.horizontal-padding {
  padding: 0 10px !important;
}
.dark-gray-element {
  background-color: #222 !important;
}
.default-gray-element {
  background-color: #333 !important;
}
.flex {
  display: flex !important;
}
.flex-centered {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.flex-center-top {
  display: flex !important;
  align-items: flex-start !important;
  justify-content: center !important;
}
.overflow-hidden {
  overflow: hidden !important;
}
.shadowed {
  box-shadow: 0px 0px 5px 0px #222222 !important;
}

.checkout {
  width: 800px !important;
  margin-top: 20px !important;
}
.package-price {
  color: #498d5e !important;
}
.active {
  background-color: #ffffff !important;
  color: #222;
  /*border-left: 10px solid #fff !important;*/
  /*border-left: 10px solid #fff !important;*/
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
/* end of miscellaneous styles */
/* end of miscellaneous styles */
/* end of miscellaneous styles */



/* choose your bundle page styles */
/* choose your bundle page styles */
/* choose your bundle page styles */
/* choose your bundle page styles */
/* choose your bundle page styles */

/* top bar styles */
.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

/* footer styles */
.app-footer {
  position: absolute;
  bottom: 10px;
  color: #4a4a4a;
}

/* service package card styles */
/* service package card styles */
.card {
  display: inline-block;
  position: relative;
  height: 320px;
  width: 260px;
  background-color: #222;
  border-radius: 8px;
  border: 0px solid #000000;
  margin: 0 10px; /* create 20px of space between cards */
  font-size: 24px;
  cursor: default;
  transition: border .2s ease-in-out, border-radius .2s ease-in-out;
}
.service-pack {

}
.selected {
  border-left: 4px solid #e91e63;
  border-right: 4px solid #e91e63;
  border-radius: 8px;
  transition: border .2s ease-in-out, border-radius .2s ease-in-out;
}
/* style the lists inside each service package card */
.list-container {
  height: 100%;
  overflow: auto; /* hide inner list's corners */
}
.line-item-container, .description-container {
  margin: 30px 0; /* ensure no overlap between card header or footer and list item */
  color: #999999; /* make list item text gray */
}
.line-item-container li {
  text-align: left;
  /*padding: 10px 20px; !* create space between content and walls for aesthetic purposes *!*/
}
.line-item-container li:nth-child(2n+2) { /* alternate background-color every other line */
  background-color: #4a4a4a;
}
.line-item-name { /* create space between check mark and deliverable */
  padding: 10px 20px 10px 10px;
  width: 100%;
}
.line-item-checkmark {
  padding: 10px 10px 10px 20px;
}


/* top bar of service package card styles */
.sub-header {
  position: absolute;
  height: 30px;
  width: 100%;
  background-color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

/* footer of service package card styles */
.sub-footer {
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 100%;
  background-color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

/* footer and header of service package card styles */
.sub-footer, .sub-header {
  color: #ffffff; /* make card name and price white */
}

/* recommended service package card styles */

.featured-pack {
  width: 300px;
  height: 382px;
}

/* style the "or" word */
.or {
  font-size: 24px;
  color: #4a4a4a;
  margin: 40px 0;
}

.simple-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999999;
  background-color: #4A4A4A;
  width: 300px;
  height: 45px;
  margin: 0 auto;
  font-size: 24px;
  border-radius: 8px;
}
/* end of choose your bundle page styles */
/* end of choose your bundle page styles */
/* end of choose your bundle page styles */

#item-showcase {
  height: 662px;
}
#description-box {
  margin-top: 20px;
}
.description-container {
  padding: 5px 15px;
}
.description-p {
  font-size: 16px;
  text-align: left;
  line-height: 1.2em;
  margin: 10px 0;
}
.doublewide {
  width: 520px;
}



.list-container::-webkit-scrollbar {
  width: 0em;
}

/*.list-container::-webkit-scrollbar-track {*/
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
/*}*/

/*.list-container::-webkit-scrollbar-thumb {*/
  /*background-color: darkgrey;*/
  /*outline: 1px solid slategrey;*/
/*}*/

@media (max-width: 600px) and (orientation: portrait) {
  /* misc styles */
  .large-title {
    margin: 20px 0 30px 0;
  }

  /* choose your bundle page styles */
  /* choose your bundle page styles */
  /* choose your bundle page styles */
  /* choose your bundle page styles */
  /* choose your bundle page styles */
  .card {
    width: 85%;
    margin: 0;
  }
  .service-pack {

  }
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.75);
  }
  .popup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .popup-button {
    width: 100% !important;
    margin-top: 20px;
  }

  .or {
    font-size: 16px;
    margin: 10px 0;
  }
  /*.simple-button {*/
    /*width: 85%;*/
  /*}*/
  .checkout {
    width: 85% !important;
  }
  /* end of choose your bundle page styles */
  /* end of choose your bundle page styles */
  /* end of choose your bundle page styles */

}

/*.swipe {*/
  /*overflow: hidden;*/
  /*visibility: hidden;*/
  /*position: relative;*/
/*}*/
/*.swipe-wrap {*/
  /*overflow: hidden;*/
  /*position: relative;*/
/*}*/
/*.swipe-wrap > div {*/
  /*float:left;*/
  /*width:100%;*/
  /*position: relative;*/
/*}*/